# File at ~/.config/systemd/user/tiempitod.service
[Unit]
Description=Tiempito daemon

[Service]
ExecStart=/bin/tiempitod
Environment=DOTNET_ENVIRONMENT=Production

[Install]
WantedBy=default.target
